﻿<div class="container center-block" style="margin-top:10px;">
    <div class="col-md-8 col-md-offset-2">
        <div *ngIf="!studentLogIn && !teacherLogIn">
            <button class="btn btn-lg center-block" (click)="studentLogIn=true">Войти как студент</button>
            <br />
            <button class="btn btn-lg center-block" (click)="teacherLogIn=true">Войти как преподаватель</button>
        </div>

        <div class="alert alert-danger" [hidden]="currentError.length === 0">
            {{currentError}}
        </div>
        <button class="btn-link" *ngIf="studentLogIn || teacherLogIn" (click)="studentLogIn=false;teacherLogIn=false">Назад</button>
        <session-list [sessions]="activeSessions" *ngIf="studentLogIn" [studentMode]="true"></session-list>

        <form *ngIf="teacherLogIn" #teacherForm="ngForm" (ngSubmit)="teacherSignIn()">
            <div class="form-group">
                <label for="name">Логин</label>
                <input type="text" required class="form-control" [(ngModel)]="teacher.UserName" [ngControl]="tname" #tname="ngForm" />
                <div [hidden]="tname.valid || tname.pristine" class="alert alert-danger">
                    Логин обязателен
                </div>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" required class="form-control" [(ngModel)]="teacher.Password" [ngControl]="password" #password="ngForm" />
                <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                    Пароль обязателен
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" [disabled]="!teacherForm.form.valid">Вход</button>
            </div>
        </form>
    </div>
</div>