﻿<form (ngSubmit)="onSubmit(selectedTasksList.tasks)" #testForm="ngForm">
    <div class="form-group">
        <label for="title">Имя теста<span class="required-label">*</span></label>
        <input type="text" class="form-control" [(ngModel)]="model.title" required [ngControl]="title" #title="ngForm"/>
        <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Имя обязательно
        </div>
    </div>
    <div class="form-group">
        <label for="estimatedTimeToPass">Время на выполнение теста (минуты)<span class="required-label">*</span></label>
        <input type="number" class="form-control" required [(ngModel)]="model.estimatedTimeToPass" [ngControl]="estimatedTimeToPass"
               #estimatedTimeToPass="ngForm"/>
        <div [hidden]="estimatedTimeToPass.valid || estimatedTimeToPass.pristine" class="alert alert-danger">
            Введите корректное числовое значение
        </div>
    </div>
    <div class="form-group">
        <label for="selectedTasks">Выберите задания</label>
        <div>
            <div class="col-md-6">
                <task-list [sortable]="false" [tasks]="avaliableTasks" (onTaskRemoved)="selectedTasksList.addTask($event)"
                           #avaliableTasksList></task-list>
            </div>
            <div class="col-md-6">
                <task-list [sortable]="true" [tasks]="selectedTasks" (onTaskRemoved)="avaliableTasksList.addTask($event)"
                           #selectedTasksList></task-list>
            </div>
        </div>
        <div [hidden]="tasksValid" class="alert alert-danger">
            Нужно выбрать хотя бы одно задание
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" [disabled]="!testForm.form.valid">Сохранить</button>
    </div>
</form>