﻿<form>
    <div class="form-group">
        <label for="title">Имя теста</label>
        <div class="view-field">{{model.title}}</div>
    </div>
    <div class="form-group">
        <label for="estimatedTimeToPass">Время на выполнение теста (минуты)</label>
        <div class="view-field">{{model.estimatedTimeToPass}}</div>
    </div>
    <div class="form-group">
        <label for="selectedTasks">Выберите задания</label>
        <div>
            <div class="col-md-6">
                <task-list [sortable]="true" [viewOnly]="true" [tasks]="model.testingTasks"></task-list>
            </div>
        </div>
    </div>
</form>