﻿<test-edit-form *ngIf="formMode === 'edit' || formMode === 'new'" [model]="model" (testSubmitted)="onTestSaved($event)"></test-edit-form>
<test-view-form *ngIf="formMode === 'view'" [model]="model"></test-view-form>