﻿<div class="row text-center">
    <div class="col-md-4">Страница {{currentPage}} из {{pageCount}}</div>
    <div class="col-md-8">
        <button class="btn" (click)="onPageChanged(currentPage - 1)" [disabled]="currentPage === 1">&#10094;</button>
        <button class="btn" *ngFor="#page of pages" (click)="onPageChanged(page)" [disabled]="currentPage === page">{{page}}</button>
        <span *ngIf="pageCount - currentPage >= 10">...</span>
        <button class="btn" (click)="onPageChanged(pageCount)">{{pageCount}}</button>
        <button class="btn" (click)="onPageChanged(currentPage + 1)" [disabled]="currentPage === pageCount">&#10095;</button>
    </div>
</div>