﻿<div>
    <div *ngIf="!session">
        <h4>Выбор студента</h4>
        <ul>
            <li *ngFor="#student of studentsList">
                <button class="btn-link" (click)="selectStudent(student)">{{student.name}}</button>
            </li>
        </ul>
    </div>

    <div style="padding: 5px 15px" *ngIf="session">
        <h3 class="center-block">{{session.test.title}}</h3>
        <br />
        <div style="text-align: justify;">
            {{currentTask.cond}}
        </div>
        <div class="code-editor" style="height:350px;margin:10px;">
            {{currentTask.code}}
        </div>
        <div>
            <button type="button" class="btn btn-default" (click)="checkSolution()">Проверка</button>
        </div>
        <div class="alert alert-danger" *ngIf="result.length>0">
            {{result}}
        </div>
    </div>
</div>