﻿<div id="accordion" class="row">
    <button class="accordion" (click)="onToggleAccordion($event)">{{title}}</button>
    <div class="accordion-panel">
        <content select="[body]"></content>
    </div>
</div>