﻿body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol, ol li { margin-left: 0; padding-left: 0; }

ol.sortable{
    border: 1px solid #CCC;
    overflow: auto;
    height:30em;
    background-color:lightgray;
    list-style:none;
}

ol.sortable li.placeholder {
    position: relative;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    background-color: lightcyan;
    height:4em;
}

    ol.sortable li.placeholder:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        margin-top: -5px;
        left: -5px;
        top: -4px;
        border: 5px solid transparent;
        border-right: none;
    }

ol.sortable li.placeholder .active-task{
    visibility:hidden;
}

ol.sortable li.placeholder:hover .active-task{
    visibility:visible;
}
