﻿<ol class="sortable">
    <li *ngFor="#task of tasks; #i = index" class="placeholder">
        <button class="btn btn-info active-task col-md-2" style="font-size:1.2em">?</button>
        <span class="col-md-5">{{task.title}}</span>
        <label class="col-md-3" style="color:#07889b">{{task.lang}}</label> 
        <button *ngIf="!viewOnly" class="btn btn-danger col-md-2 active-task"
                [class.glyphicon-plus]="!sortable" (click)="onRemoveTask(i)" style="font-size:1.2em">{{sortable?'X':''}}</button>
    </li>
</ol>