﻿<div id="home">
    <h2 class="center-block">Панель преподавателя</h2>
    <tabs>
        <tab [title]="'Активные сеансы'" [active]="true">
            <session-list [sessions]="activeSessions" body></session-list>
        </tab>
        <tab [title]="'Завершенные сеансы'">
            <session-list [sessions]="completedSessions" body></session-list>
        </tab>
        <tab [title]="'Создать новый сеанс'">
            <form (ngSubmit)="addSession()" #sessionForm="ngForm" class="col-md-6">
                <div class="form-group">
                    <label for="title">Имя сеанса</label>
                    <input type="text" class="form-control" required [(ngModel)]="sessionModel.name" [ngControl]="title"
                           #title="ngForm"/>
                    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                        Имя обязательно
                    </div>
                </div>
                <div class="form-group-sm">
                    <label for="selectedTest">Тест для выполнения</label>
                    <div class="form-control" *ngIf="sessionModel.test">
                        <div class="col-md-2">ID: {{sessionModel.test.id}}</div>
                        <div class="col-md-4">Имя: {{sessionModel.test.title}}</div>
                        <div class="col-md-2">{{sessionModel.test.testingTasks.length}} заданий</div>
                        <div class="col-md-4">Время: {{sessionModel.test.estimatedTimeToPass}}</div>
                    </div>
                    <button class="btn" (click)="testPickerModal.open(); testList.refresh()">{{sessionModel.test ? 'Выбрать другой тест' : 'Выбрать тест'}}</button>
                    <div [hidden]="sessionValid" class="alert alert-danger">
                        Тест обязателен
                    </div>
                </div>
                <div class="form-group">
                    <label for="estimatedTimeToPass">Время на прохождение<span class="required-label">*</span></label>
                    <input type="number" class="form-control" required [(ngModel)]="sessionModel.testTime" [ngControl]="testTime"
                           #testTime="ngForm" />
                    <div [hidden]="testTime.valid || testTime.pristine" class="alert alert-danger">
                        Введите корректное числовое значение
                    </div>
                </div>
                <div class="form-group">
                    <label for="studentsList">Введите список студентов (каждое имя с новой строки)</label>
                    <textarea class="form-control" rows="10" style="resize:none;" [(ngModel)]="sessionModel.students" required></textarea>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    <input type="submit" class="btn btn-default" value="Создать сессию" />
                </div>
            </form>
            <modal [size]="lg" #testPickerModal>
                <modal-header [show-close]="true">
                    <h2>Выбор теста</h2>
                </modal-header>
                <modal-body>
                    <test-list [pickerMode]="true" #testList (testPicked)="onTestSelected($event);testPickerModal.close();sessionValid=true"></test-list>
                </modal-body>
            </modal>
        </tab>
        <tab [title]="'Управление тестами'">
            <test-list [pickerMode]="false"></test-list>
        </tab>
    </tabs>
</div>

