﻿@{
    ViewBag.Title = "Панель преподавателя";
}

<app></app>

@section scripts {
    <script src="~/libraries/jquery/jquery-sortable.js"></script>
    <script>
          System.import('components/app');
    </script>
}