﻿<div id="session-list" class="container-fluid">
    <h5 *ngIf="pageSessions.length === 0">Нет данных</h5>
    <div *ngIf="pageSessions.length > 0">
        <div class="row text-center">
            <div class="col-md-1">ID</div>
            <div class="col-md-3">Имя</div>
            <div class="col-md-1"># студентов</div>
            <div class="col-md-3">Дата</div>
            <div class="col-md-4">Действия</div>
        </div>
        <session-list-item *ngFor="#session of pageSessions" [session]="session" [studentMode]="studentMode"></session-list-item>
        <pager [itemsCount]="itemsCount" (pageChanged)="onPageChanged($event)"></pager>
    </div>
</div>