﻿body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: linen;
}

.text-center {
    margin: 0 auto;
}

/*list Item Styles*/
.list-item{
    border-top: solid 1px #000000;
    margin-top:5px;
    width: 100%;
    height:3em;
    text-align: center;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.required-label{
    color: #a94442;
}