﻿@{
    ViewBag.Title = "DNX MVC6 TypeScript Angular2 example";
}
<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/site.css" />

    @RenderSection("css", false)
    <script>
        var currentUserName = '@User.Identity.Name';
    </script>
    <!-- Angular2 js -->
    <script src="/libraries/jquery/jquery.min.js"></script>
    <script src="/libraries/es6-shim.js"></script>
    <script src="/libraries/jquery.noty.packaged.js"></script>
    <script src="/libraries/angular2/system.js"></script>
    <script src="/libraries/ace/ace.js"></script>
    <script src="/libraries/angular2/reflect.js"></script>
    <script src="/libraries/angular2/rx.js"></script>
    <script src="/libraries/angular2/angular2-polyfills.js"></script>
    <script src="/libraries/angular2/angular2.dev.js"></script>
    <script src="/libraries/angular2/http.dev.js"></script>
    <script src="/libraries/angular2/router.dev.js"></script>
    @*<script src="/libraries/angular2/angular2-websocket.js"></script>*@
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- Configure SystemJS -->
    <script>
        System.config({
            baseURL:'/',
            packages: {
                components: {
                    
                    defaultExtension: 'js'
                },
                models: {
                    defaultExtension: 'js'
                },
                services: {
                    defaultExtension: 'js'
                },
                helpers: {
                    defaultExtension:'js'
                },
                validators:{
                    defaultExtension:'js'
                },
                libraries: {
                    defaultExtension: 'js'
                },
                'angular2-cookie': {
                    defaultExtension: 'js'
                },
                'angular2-websocket': {
                    defaultExtension: 'js'
                }
            }
        });
    </script>
</head>

<body>
    <header></header>
    <div class="container-fluid">



        <div class="content">
            @RenderBody()
        </div>
    </div>

    <script>
        System.import('components/header/header');
    </script>

    @RenderSection("scripts", false)
</body>


</html>