﻿<div id="test-list" class="container-fluid">
    <h5 *ngIf="pageTests.length === 0">В системе нет ниодного теста. {{pickerMode? 'Перейдите в раздел "Управление тестами", чтобы создать новый тест.':''}}</h5>
    <div *ngIf="pageTests.length > 0">
        <div class="row text-center">
            <div class="col-md-1">ID</div>
            <div class="col-md-3">Имя</div>
            <div class="col-md-1"># заданий</div>
            <div class="col-md-3">Длительность</div>
            <div class="col-md-3">Действия</div>
        </div>
        <div class="list-item" *ngFor="#test of pageTests">
            <div class="col-md-1">{{test.id}}</div>
            <div class="col-md-3">{{test.title}}</div>
            <div class="col-md-1">{{test.testingTasks.length}}</div>
            <div class="col-md-3">{{test.estimatedTimeToPass}}:00</div>
            <div class="col-md-2" *ngIf="!pickerMode">
                <button class="btn" 
                        (click)="setModel(test); editModal.open(); formTitle = 'Редактирование теста'">Изменить</button>
            </div>
            <div class="col-md-2" *ngIf="pickerMode">
                <button class="btn btn-success" (click)="onPickTest(test)">Выбрать</button>
            </div>
            <div class="col-md-2">
                <button class="btn" (click)="setModel(test); viewModal.open(); formTitle = 'Информация о тесте'">Показать</button>
            </div>
        </div>
        <pager [itemsCount]="itemsCount" (pageChanged)="onPageChanged($event)"></pager>
        
    </div>
    <div *ngIf="!pickerMode">
        <button class="btn btn-success"
                (click)="resetModel(); editModal.open(); formTitle = 'Добавление теста'">
            Добавить тест
        </button>
    </div>
</div>
<modal [size]="lg" #editModal>
    <modal-header [show-сlose]="true">
        <h2>{{formTitle}}</h2>
    </modal-header>
    <modal-body>
        <test-form [formMode]="'edit'" [model]="currentModel" (testSaved)="saveTest($event, editModal)"></test-form>
    </modal-body>
</modal>
<modal [size]="lg" #viewModal>
    <modal-header [show-сlose]="true">
        <h2>{{formTitle}}</h2>
    </modal-header>
    <modal-body>
        <test-form [formMode]="'view'" [model]="currentModel"></test-form>
    </modal-body>
</modal>