﻿<div id="session-list-item" class="list-item" *ngIf="session">
    <div class="col-md-1">{{session.id}}</div>
    <div class="col-md-3">{{session.name}}</div>
    <div class="col-md-1">{{session.studentsCount}}</div>
    <div class="col-md-3">{{session.date}}</div>
    <div class="col-md-2" *ngIf="!studentMode">
        <button class="btn btn-danger" *ngIf="session.isOpened" (click)="onCloseSession(session)">Завершить</button>
    </div>
    <div class="col-md-2" *ngIf="!studentMode">
        <button class="btn" (click)="onDisplaySession()">Показать</button>
    </div>
    <div class="col-md-3" *ngIf="studentMode">
        <button class="btn" (click)="goToTrial()">Вход</button>
    </div>
</div>